[submodule "user_service/utils"]
	path = user_service/utils
	url = https://github.com/Yoann-Michon/utils.git
[submodule "grade_service/utils"]
	path = grade_service/utils
	url = https://github.com/Yoann-Michon/utils.git
[submodule "class_service/utils"]
	path = class_service/utils
	url = https://github.com/Yoann-Michon/utils.git
[submodule "auth_service/utils"]
	path = auth_service/utils
	url = https://github.com/Yoann-Michon/utils.git
[submodule "api_gateway/utils"]
	path = api_gateway/utils
	url = https://github.com/Yoann-Michon/utils.git
